<h1>Welcome to my page!</h1>





<%= link_to 'Home', root_path %>
<%= link_to 'About', static_pages_about_path %>
<%= link_to 'Contact', static_pages_contact_path %>
<%= link_to 'Blog', static_pages_blog_path %>


